{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}" class="post-link">{{ post.title }}</a></h1>
            <br><p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                <br>{{ post.published_date }}
            </div>
            <br><a href="{% url 'post_detail' pk=post.pk %}" class="post-link">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock content %}